{{!< default}}
<main>
    <div class="h-screen flex items-center justify-center text-white hero-bg">
        <h1 class="text-5xl font-bold text-white">Hello Home Page</h1>
    </div>
</main>
<noscript>
    <div class="gh-pagination">
        {{pagination}}
    </div>
</noscript>