{{!< default}}
<main>
    <div
        class="h-screen flex items-center justify-center bg-blue-200 text-white"
    >
        <h1>Hello World</h1>
    </div>
</main>
<noscript>
    <div class="gh-pagination">
        {{pagination}}
    </div>
</noscript>