{{!< default}}
<main>
    <div class="h-screen flex items-center justify-center text-white hero-bg">

        {{!-------Hero Section--------}}
        <div
            class="container my-0 lg:my-20 flex flex-col items-center text-whiteTextColor"
        >
            <h2 class="bg-blackTextColor p-2 tracking-wider mb-2">- WELCOME TO
                DIGITAL STARTUP AGENCY -</h2>
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold">BEST DIGITAL</h1>
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold">STARTUP
                AGENCY</h1>
            <button
                class="bg-mainColor uppercase px-6 py-3 font-bold rounded-md mt-2"
            >discover more</button>
        </div>
    </div>
    {{! -----------Div Component----------}}

    <div class="bg-mainColor text-whiteTextColor container -mt-2">
        <h1>Hello World</h1>
    </div>
</main>
<noscript>
    <div class="gh-pagination">
        {{pagination}}
    </div>
</noscript>