{{!< default}}
<main>
    <div class="h-screen flex items-center justify-center text-white hero-bg">
        <h1>Hello World</h1>
    </div>
</main>
<noscript>
    <div class="gh-pagination">
        {{pagination}}
    </div>
</noscript>