{{!< default}}
<section>
    <div
        class="h-screen flex items-center justify-center text-white portfolio-bg"
    >
        <h1 class="text-5xl font-bold text-white">Hello Portfolio Page</h1>
    </div>
</section>