@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rajdhani", sans-serif;
}
.container {
    @apply px-5 py-10 md:px-10 md:py-14 lg:px-24 lg:py-20;
}

.mainNav ul {
    @apply flex items-center gap-14;
}
.mainNav ul li {
    @apply text-whiteTextColor font-semibold text-lg tracking-wider hover:text-mainColor hover:underline;
}
